<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
    <div class="card animated zoomIn">
       <app-logo-header></app-logo-header>
        <div class="card-body">
          <div class="row">
          <div class="col-6">
            <app-unit-setup></app-unit-setup>
            </div>
            <div class="col-6">
              <app-details></app-details>
            </div>
          </div>
          <div class="row"><br></div>
            <div id="map" class="map"></div>
            <app-distance-between></app-distance-between>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
